<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}" />
</head>
<body id="page-background">
    <h1 class="hotel-name">Mount n' Mist</h1>
    <h2 class="sub_heading">"where every stay feels like home" </h2>



  
  <div class="signup-container">
    <h3>Login to Your Account</h3>
    <form action="/" method="POST">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="Enter email" required>

      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Enter password" required>

      <button type="submit">Login</button>
    </form>
    <p class="login-link">Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
  </div>
</body>
</html>